<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.peanutvideo.system.mapper.AppUserPwdMapper">
  <resultMap id="BaseResultMap" type="org.peanutvideo.system.domain.AppUserPwd">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="valid" jdbcType="CHAR" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, pwd, valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_user_pwd
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_user_pwd
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.peanutvideo.system.domain.AppUserPwd">
    insert into app_user_pwd (id, user_id, pwd, 
      valid)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{pwd,jdbcType=VARCHAR}, 
      #{valid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.peanutvideo.system.domain.AppUserPwd">
    insert into app_user_pwd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.peanutvideo.system.domain.AppUserPwd">
    update app_user_pwd
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.peanutvideo.system.domain.AppUserPwd">
    update app_user_pwd
    set user_id = #{userId,jdbcType=INTEGER},
      pwd = #{pwd,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>